{% extends "model-page.html" %}

{% block content %}

<h2>Novo compromisso</h2>

<form action="submit" method="POST">{% csrf_token %}
    <br>
    <label>Título</label>
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
    <br>
    <input type="text" name="titulo" size="25" value="{{ evento.title }}">
    <br><br>
    <label>Local</label>
    <br>
    <input type="text" name="local" size="25" value="{{ evento.local }}">
    <br><br>
    <label>Descrição</label>
    <br>
    <textarea name="descricao" rows="5" cols="22">{{ evento.description }}</textarea>
    <br><br>
    <label>Data</label>
    <br>
    <input type="datetime-local" name="data" value="{{ evento.web_date_format }}">
    <br><br><br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
    <br><br><br>
</form>

{% endblock %}